
<div class="container">
    <div class="col-md-12 offset-3">
        <div *ngIf="!ResetPassword">
            <div class="row">
                <div class="col-md-6">
                    <div class="mainpage">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="navbar-brand" style="color: black;">FBOOK</a>
                                <ul class="nav justify-content-end">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
                                    <li class="nav-item"><a class="nav-link active" [routerLink]="['/login']">Login</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <!-- <div class="row justify-content-center">
                                    <h5 class="navbar-text" style="color: black;">REGISTRATION</h5>
                                </div> -->
                                <form (ngSubmit)="forgot_password(f)" #f=ngForm>
                                    <div class="mainform">
                                        <div class="form-group row">
                                            <div class="col-md-2"><label for="email">Email: </label></div>
                                            <div class="col-md-8"><input id="email" class="form-control form-control-sm" ngModel type="email" name="email" required></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2"><label for="dob">DOB: </label></div>
                                            <div class="col-md-8"><input id="dob" class="form-control form-control-sm" ngModel type="date" name="dob" required></div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" style="float:right" [disabled]="!f.valid">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ResetPassword">
            <div class="row">
                <div class="col-md-6">
                    <div class="mainpage">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="navbar-brand" style="color: black;">FBOOK</a>
                                <ul class="nav justify-content-end">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
                                    <li class="nav-item"><a class="nav-link active" [routerLink]="['/login']">Login</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <!-- <div class="row justify-content-center">
                                    <h5 class="navbar-text" style="color: black;">REGISTRATION</h5>
                                </div> -->
                                <form (ngSubmit)="reset_password(f)" #f=ngForm>
                                    <div class="mainform">
                                        <div class="form-group row">
                                            <div class="col-md-4"><label for="password">New Password: </label></div>
                                            <div class="col-md-6"><input id="password" class="form-control" ngModel type="password" name="password" required></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4"><label for="reset">Confirm Password: </label></div>
                                            <div class="col-md-6"><input id="reset" class="form-control" ngModel type="password" name="reset_password" required></div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" style="float:right" [disabled]="!f.valid">RESET</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>